p{
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
}

.move-btn{
	margin-left: 220px;
}

.tareas{
	height:100px;
	width:690px;
	margin-bottom:5px;
	margin-left: 220px;
}
.mg-10{
	margin-top:30px;
}

li:checked{
	height: 20px;
	width:20px;
	color:red;
}